@import url(https://fonts.bunny.net/css?family=outfit:300,700);

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --color-white: #fff;
    --color-blue-500: #3685FF;
    --color-slate-900: #1F314F;
    --color-blue-600: #2C7DFA;
    --color-slate-500: #68778D;
    --color-slate-300: #D5E1EF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-slate-300);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-card {
    max-width: 320px;
    background-color: var(--color-white);
    padding: 16px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 4px 0 #00000025;
}

.qr-card img {
    display: block; 
    width: 100%;
    border-radius: 10px;
}

.qr-card-text {
    padding: 0 20px;
}

.qr-card-text h1 {
    color: var(--color-slate-900);
    font-size: 1.375rem;
}

.qr-card-text p {
    color: var(--color-slate-500);
    line-height: 1.4;
}